id-nits reports


1.

draft-ietf-rats-corim-08.txt:
-(4009): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding
-(4781): Line appears to be too long, but this could be caused by non-ascii characters in UTF-8 encoding

2.
  == There are 6 instances of lines with non-ascii characters in the document.

3. 
  == There are 41 instances of lines with non-RFC2606-compliant FQDNs in the
     document.
??? - no idea what this means.

4.   ** Obsolete normative reference: RFC 4122 (Obsoleted by RFC 9562)
5.   ** Downref: Normative reference to an Informational RFC: RFC 9334



Maybe normative:

````
   [I-D.ietf-rats-eat]
              Lundblade, L., Mandyam, G., O'Donoghue, J., and C.
              Wallace, "The Entity Attestation Token (EAT)", Work in
              Progress, Internet-Draft, draft-ietf-rats-eat-31, 6
              September 2024, <https://datatracker.ietf.org/doc/html/
              draft-ietf-rats-eat-31>.
````


Also, maybe normative:
````
   [I-D.ietf-rats-msg-wrap]
              Birkholz, H., Smith, N., Fossati, T., Tschofenig, H., and
              D. Glaze, "RATS Conceptual Messages Wrapper (CMW)", Work
              in Progress, Internet-Draft, draft-ietf-rats-msg-wrap-16,
              3 July 2025, <https://datatracker.ietf.org/doc/html/draft-
              ietf-rats-msg-wrap-16>.
````


Should be normative:
````
   [RFC9562]  Davis, K., Peabody, B., and P. Leach, "Universally Unique
              IDentifiers (UUIDs)", RFC 9562, DOI 10.17487/RFC9562, May
              2024, <https://www.rfc-editor.org/rfc/rfc9562>.
````
