Clarify domain of uniqueness

This is a follow-up to #555, and https://github.com/ietf-rats-wg/draft-ietf-rats-corim/pull/625#issuecomment-5512229385.

While #555 removes the word `unique` from many places in the specification, it is still present in other places, and the domain of its uniqueness should be expressed. @thomas-fossati recommends possibly leveraging JWT's definition of Collision-Resistant.

Doesn't the use of the uuid type result in implicit uniqueness?  If so, I would recommend keeping consistent with uniqueness as defined in https://www.rfc-editor.org/info/rfc9562/#section-6.8.  One possibility is to clarify that CoRIM identifiers that make use of the uuid option MUST be unique within the context of the CoRIM issuer.  

I don't think collision resistance captures the intent behind uniqueness for uuid per the IETF RFC.  

>within the context of the CoRIM issuer.

The CoRIM specification should encourage this amongst all the "good" actors that create CoRIMs, but that does not preclude "bad" or "incompetent" actors creating CoRIMs who do not follow the rules. So while the specification may say that an identifier is a UUID, that does not guarantee its global uniqueness.

>So while the specification may say that an identifier is a UUID, that does not guarantee its global uniqueness.

I was thinking that the spec can require local uniqueness ('local uniqueness' being defined in https://www.rfc-editor.org/info/rfc9562/#section-6.8) within an issuer's context when UUIDs are used.  

CoRIM identifiers are not exclusively UUIDs.   They can be OIDs, text string, and all sorts of stuff really, because of extensibility.

I'd use "collision-resistant name" as the general requirement and then add a note that when UUIDs are used, the local-uniqueness guidance in RFC 9562 §6.8 applies.

> CoRIM identifiers are not exclusively UUIDs. They can be OIDs, text string, and all sorts of stuff really, because of extensibility.

Yes, which is why I stated "within an issuer's context when UUIDs are used.".  BTW - NIST claims that OIDs are globally unique:  https://csrc.nist.gov/glossary/term/object_identifier.  

> I'd use "collision-resistant name" as the general requirement and then add a note that when UUIDs are used, the local-uniqueness guidance in RFC 9562 §6.8 applies.

Collision resistance means one thing in the context of hashes (e.g. https://datatracker.ietf.org/doc/html/rfc9381#name-vrf-security-properties).  I don't know if it means the same thing for text strings.  How would you define it?

> > I'd use "collision-resistant name" as the general requirement and then add a note that when UUIDs are used, the local-uniqueness guidance in RFC 9562 §6.8 applies.
> 
> Collision resistance means one thing in the context of hashes (e.g. https://datatracker.ietf.org/doc/html/rfc9381#name-vrf-security-properties). I don't know if it means the same thing for text strings. How would you define it?

My proposal is to reuse/reference the definition provided by RFC 7519:

```
Collision-Resistant Name
      A name in a namespace that enables names to be allocated in a
      manner such that they are highly unlikely to collide with other
      names.  Examples of collision-resistant namespaces include: Domain
      Names, Object Identifiers (OIDs) as defined in the ITU-T X.660 and
      X.670 Recommendation series, and Universally Unique IDentifiers
      (UUIDs) [RFC4122].  When using an administratively delegated
      namespace, the definer of a name needs to take reasonable
      precautions to ensure they are in control of the portion of the
      namespace they use to define the name.
```

and say that the identifiers used in CoRIM (e.g. tag IDs, class IDs, instance IDs, group IDs, etc.) must be/contain a Collision-Resistant Name — akin to to what JWT calls a "public name".
