managing code point number space for extensible maps in CoRIM

It is likely that, for at least the `measurement-values-map` structure, the code point space could be large. There is competition for smaller code points (<2 bytes). Measurement-values-map contains both class and instance measurements which could grow over time as new forms of measurements are identified. Additionally, there could be profile-specific code points that have not, for whatever reason, been defined by a standard. 

The corim specification should describe conventions for managing the limited resource code points (<2 bytes). For example, maps that are likely to be extended by profiles might do something like the following:

0 - 29: defined in the base CORIM for measurement-values-map
30 - 69: reserved for standards
70 - 99: reserved, for prototyping
100 - 255: available for profile specific use
 
Maybe it doesn't make sense to put "prototyping" in the <2byte range, but this is just an example.

In a perfect world, profile specific code points would be candidates for inclusion in a standard, if there is code point partitioning, that would require reassignment of a code points to the proper partition, which will break implementations, but maybe that is good?



If we limit ourselves to unsigned integers, we have the following encoding sizes:

* 1+0: 0..23
* 1+1: 24..255
* 1+2: 256..65535
* 1+4: 65536..2^32-1
* 1+8: 2^32..2^64-1

I would use a relatively strong filter for 1+0; that would normally be Standards Action in the IETF (see Section 4.9 of RFC 8126)
Similarly for 24..255; this could be a weaker RFC required (4.7), or possibly Specification Required (4.6) with some frugality criteria for the designated expert.
1+2 is already big enough for pretty lenient allocation; for CBOR tags we have split this range into 256 to 32767 (Specification Required) and 32768 to 18446744073709551615 (FCFS); I think that would work well here as well.

Compare Section 9.2 of RFC 8949.

Do not reserve a range for prototyping, see RFC 6648 for reasons why.

> 1+2 is already big enough for pretty lenient allocation; for CBOR tags we have split this range into 256 to 32767

To be clear, this thread is about code point number space for `measurement-values-map` and not for CBOR tags.
Each extensible map in corim has it's own code point number space. The code point space for `measurement-values-map` is likely to be extended more than the others IMHO. It probably isn't necessary that the entire code point space be reserved for standards and the smaller code points are valued for profiles that contain extensions that are not (yet?) in a standard. If we decide to partition code point space using signed integers, then negative numbers are available for profile use and positive integers are available for standards use. 

> > 1+2 is already big enough for pretty lenient allocation; for CBOR tags we have split this range into 256 to 32767
> 
> To be clear, this thread is about code point number space for `measurement-values-map` and not for CBOR tags. 

Sure, but CBOR tags are just another code point number space, with the difference that CBOR tags are global for all uses of CBOR and you can do localized number spaces.

> Each extensible map in corim has it's own code point number space. The code point space for `measurement-values-map` is likely to be extended more than the others IMHO. It probably isn't necessary that the entire code point space be reserved for standards and the smaller code points are valued for profiles

I'm sorry, I don't know what profiles are.  Clearly, you can allocate some subspace to identified other allocation mechanisms.  This assumes that profiles are mutually exclusive, which they typically don't stay for more than a microsecond.

> that contain extensions that are not (yet?) in a standard. If we decide to partition code point space using signed integers, then negative numbers are available for profile use and positive integers are available for standards use. Profile use means the CoRIM profile defines what follows the code point.

Clearly, using negative integers is a nice way to partition the space in two.  (The antonym for negative is "unsigned" for most applications of CBOR; zero is typically in the same space in which positive numbers are as well.)


The proposal would be that CoRIM has a convention that reserves non-negative numbers and zero for use by standards and allows negative numbers for non-standards use. This permits 23 single 0 byte code points for non-standards use and so forth for 1, 2, 4 and 8 byte code points as well. 

Many of the extension points defined may never need additional code points, others may, including `measurement-values-map`. CoRIM should have a convention for which code points are safe to use outside of standards. 

Can we do this with something like this in the definition of `measurement-values-map`?

`? -1 ... -65536 => any ; data type optionally indicated by tag, value meaning is for private use`

If a profile extends `measurement-values-map` with a negative code point will parsers be confused by the `? -1 ... -65536 => any` statement which seems to have used the code point already to for `any` while simultaneously defining a more constrained schema in the profile?

https://www.rfc-editor.org/rfc/internet-drafts/draft-bormann-cbor-draft-numbers-00.html


https://datatracker.ietf.org/doc/html/draft-bormann-cbor-draft-numbers 

Reference was updated. 

Can this issue be closed since CoRIM will follow draft-bormann-cbor-draft-numbers ?

Closing as the issue has been addressed!