MCR's All Review comments - corim08

Authors: I can turn the low-hanging things into github issues/PRs if you want.

High-level: I know I read this document before.
It feels lot bigger now.  A lot.  So I looked at line counts over time:
   2856 corim-01.txt    Mar  9  2023
   3472 corim-02.txt    Jul 10  2023
   3976 corim-03.txt    Oct 23  2023
   4256 corim-04.txt    Mar  4  2024
   4872 corim-05.txt    Jul  8  2024
   5544 corim-06.txt    Oct 18  2024
   6496 corim-07.txt    Mar  3 11:33
   6832 corim-08.txt    Jul  7 12:24

Section 13, references, starts at line 5749.
So roughly 1000 lines of appendix, including all the CDDL.
I think that CDDL in Appendix A should be marked as source code?

So it's tripled in size since adopted... compare to:
   2437 rfc9334.txt
   4418 rfc9711.txt

I am not saying it's too big, but it's something to think about.
Could any non-core(OTI) attributes be moved to an addendum document?
(5.1.4.1.4.6 Raw Values Types comes to mind)

1. You have Table of Contents depth set to at least 5.

It seems to be section 9, "Example Verifier Algorithm" where this might be too much.
Question: how are you managing to make sure all the CDDL excerpts are consistent with that in Appendix A?  Hate to repeat the oops in the SDF document.
I haven't looked at your git repo... I know what I'd do.

2. In section 1, it says:

   ... The CoRIM data model
   is expressed in CDDL which is used to realize a CBOR [STD94] encoding
   suitable for cryptographic operations (e.g., hashing, signing,
   encryption) and transmission over computer networks.  Additionally,

Reading this, I wondered, "why don't they just say COSE?"
I think that the point is that the CDDL describes what goes into a COSE Payload.
It just feels really awkward.
I would start a new paragraph at "Additionally,"...

3. Glossary.
Some terms (Appraisal Policy) seem to have a lot of detailed words, others less.  A reviewer (probably DNSDIR...) is going to complain about unadorned "Domain"
A downside of alphabetical order is that there are forward references.
Terms like Environment seem to repeat 9334.
Not liking Environment-Claim Tuple as a term. It just sounds wrong/forced to my ear.
Measurement, Reference Values and Triple all seem to need more than Glossary has space for.
Do I need to understand RDF?  Is the contrast useful?

4. section 2...

"2.  Verifier Reconciliation

This specification describes "
could it be that you mean, "This section ..."?
Will you Capitalize your terminology?
(here, _authority_)

Here:
   conflict with the Reference Values provided by a Reference Value
   Provider (RVP).  In essence, if Evidence is not corroborated by an
   RVP's Claims, then the RVP's Claims are not included in the ACS.

Isn't a RVP's Claim, actually... a Reference Value?
Perhaps there is some subtly that is important, if so I've missed it at that point.  The next paragraph suggests that the RVP Claim really says:
        "If Evidence FOO == Reference Value FOO, Then
        Assert Device-Is-In-FOO-Good-State"
Maybe the order of these things would be easier if swapped?

2.2:
I would prefer that section 2.2 title expanded "ACS"
(it will also help the ToC)
Table 1 is interesting, but is it ordered?  Is it proceedural, or declarative?
{Many places in the document have rules that depend upon implicit ordering of entries in an array, btw} Can If ... reference previously asserted claims?
Or can all things be evaluated concurrently?
I find the If/Then statements in the description do not seem match the title that this table is "Conceptual Message Representation **REQUIREMENTS**"

2.3: issue 242, so not finished.

section 4:
  *  A validity period, which indicates the time period for which the
      CoRIM contents are valid.

If an auditor wants to know if your 737MAX was running the approved firmware in 2018, I guess that they would need to look for a CoRIM that was valid in 2018?  This might even be recently (COSE) signed.
This validity period is not associated with the signature, correct?

4.1.1: uuid-type is not tagged in anyway.  section 4.3.1 says it is a string type, but uuids are 128-bit objects.  RFC9562 does not define anything CBOR specific.... aha.  section 7.4 says it's a bytes array.
You reference both 4122 and rfc4122bis (aka 9562), like in section 5.1.1.1 Why is uuid-type sometimes not tagged?  I think in 4.1.1 it might be better tagged, since new identifier types could be defined...
When used in measurement-values-map, there is already a distinguishing map key.

4.1.4.  Profile Types
   Profiling is the mechanism that allows the base CoRIM CDDL definition
   to be customized to fit a specific Attester.

I hated "Profile"ing when we did EAT.
I don't think it's all similar to an EAT profile, operating at a different standardization level.  ... I dislike it even more here.
I'd sure like a different word.  I don't have any suggestion yet.
fdb-rats-psa-endorsement is linked.  That actually makes my understanding worse.
It says "fit a specific Attester". I read that to mean, "Michael's Blue Car".
But rats-psa-endorsement is defining a profile an entire category of devices that are part of a specific *Ecosystem*...

It would be ideal if some details of the design considerations from fdb-rats-psa-endorsements was in corim-08 at this point, or an appendix.
"Considerations for Cooking with CORIM: example tradeoffs from the PSA Profile"

4.3.1:
        If using other signing envelope formats, the CoRIM signing authority like... what?
I thought it was COSE_Sign1 only.

Example in section 4.3.1 should be in new section 4.3.2.
My thought up to this point was that perhaps prior to getting into Reference quality explanation of section 4, that we could have an example that was walked through.
This example is too complicated/detailed/dense to really understand.

section 5:
   object via a predicate.  CoMID triples typically encode assertions
   made by the CoRIM author about ATTESTING or Target Environments and
   their security features, for example measurements, cryptographic key
   material, etc.

I guess an assertion made about an ATTESTING Environment, would be an Endorsement?
I don't really understand breaking out the Conditional Endorsement triples.
Aren't they all IF condition(X) THEN Express attribute Y?

High-level: a feature of YANG descriptions is that prior to getting into the details of the YANG module, we have a tradition of inserting the tree version.
That version is often a really good mental guide to the rest.
Since this is all CDDL, and CDDL like:

   concise-mid-tag = {
     ? &(language: 0) => text
     &(tag-identity: 1) => tag-identity-map
     ? &(entities: 2) => [ + comid-entity-map ]
     ? &(linked-tags: 3) => [ + linked-tag-map ]
     &(triples: 4) => triples-map
     * $$concise-mid-tag-extension
   }

while comprehensive, it's also tedious.  The large structure gets a bit lost
in the details.    I hate to ask: can we have an Entity Relationship diagram?

I am having difficulty understanding Triples used in Co*M*ID as being part of a thing that "contains information hardware, firmware or module **composition**"

5.1.1.2: I understand how Tag Version might be used.  I'm not clear how
         a Verifier might know if if the Tag it has cached is obsolete.
         Some link up to CoSERV or delegation to CoSERV might be better.
         A Cache TTL kind of thing might be better?


>   *  svn (index 1): The security version number typically changes only

Could you do:
>   *  svn (index 1): The Security Version Number typically changes only

because it took me awhile to not translate svn = Subversion.

>*  cryptokeys (index 13): identifies cryptographic keys that are
>      protected by the Target Environment See Section 5.1.4.1.5 for the
>      supported formats.  An Attesting Environment determines that keys

Could you do:
>*  cryptokeys (index 13): identifies cryptographic keys that are
>      protected by the Target Environment. Section 5.1.4.1.5 describes the
>      supported formats.  An Attesting Environment determines that keys

5.1.4.1.4.3.  Version
Why does semver get 16384, rather than... 5?
Oh, because it's that way in rfc9393. Now I wonder why 9393 had that jump.

title:
s/5.1.4.1.4.4.  Security Version Number/
  5.1.4.1.4.4.  Security Version Number (SVN)/

Doesn't SUIT have some text about not rolling back manifests even when
rolling back the firmware?   SVN has the same properties.  Worth a mindshare
reference?

5.1.4.1.4.5.  Flags
Can more than one flag be asserted?
I'm unclear, but I think so?
Is it cumulative? I think not.

>   *  is-replay-protected (index 4): If the flag is true, the measured
maybe explain how it would untrue.

5.1.4.1.4.7.  Address Types
RFC 9164 Concise Binary Object Representation (CBOR) Tags for IPv4 and IPv6 Addresses and Prefixes useful here?

s/X.509/PKIX/g
(It's not X.509. It's not even X.509v3. It's RFC5280)

5.1.4.5 uses the term "mkey" and "mkeys", and I'm not sure what it refers to.
Not in glossary.  Ah..it's in section 5.1.4.1.4's measurement-map, is that the right reference?  It's then used into section 9, for instance.

I was surprised when I got to section 6. CoTL, since I felt like I'd never heard of them before.  And then section seemed to end too soon.

I think that scetion 7 is a kind of library.
I see that validity-map is there.
Obsolete reference to rfc4122 already noted.

Section 9 has some statements about how Composite and Multi-Verifier might work.  I'm concerned that the terminology around this is not yet established,
and this document might cause confusion.   Maybe the terms with less
stability need to be marked, and evaluated whether they are still accurate at AUTH48.  Given number of references, this document likely sits in RPC-Q for awhile.

9.1.3, "ae" is later referenced (in 9.2.3.2).  I guess it means Attestation Evidence?
Maybe at least capitalize it?
9.2.3.3: steps are arabic numbered (1,2,3), and then roman numeral (i,ii).
But intenting suggests opposite.  Maybe Step 3i/3ii?

_Step 1.  An ev entry (Section 9.1.5) is allocated._ do people need to told this?
I can't evaluate these instructions...
I'm concerned that it's too detailed for someone who knows what's going on (will be ignored), and not detailed for someone with no clue (won't understand anyway).

9.3.1.1: yeah, my eyes are now blurred over.
I will have come back another time to fully review this section.
I'm on my second full afternoon already...

In section 9 is an *example* verifier algorithm, then I think no BCP14 keywords should be here, they should all be in the other sections.
Remembering that SHALL == MUST... not SHOULD.
Please check all SHOULD for exceptions.

I think that the work on Veraison is amazing.
While we do not need two implementations for PS (except for Internet-scale Routing), this document is complex enough that it sure would be nice to have.

_11.  Security and Privacy Considerations_ maybe two sections?

   It is critical that appraisal procedures are auditable and
   reproducible.  The integrity of code and data during execution is an
   explicit objective, for example, ensuring that the appraisal
   functions are executed in an attestable trusted execution environment
   (TEE).

Two really important ideas are mixed up in a single paragraph.
Both deserve their own section.

   The Verifier should use cryptographically protected, mutually
   authenticated secure channels to all its trusted input sources
   (Endorsers, RVPs, Verifier Owners).  These links must reach as deep

Actually, I strongly disagree.
All of the objects are signed, (unless explicitely conveyed UCCS-like).
Use of mutually authenticated secure channels makes it harder for third parties to make sure that they are getting the same answers as the Verifiers.
From what I understand, a Verifier could be provided with all these signed objects via USB stick, right?

I found no privacy considerations. I found no traffic analysis considerations.
Maybe all of that belongs in CoSERV.

If IANA has done an early allocation for 12.2 (tags 500 thru 599) (I saw it in the Registry when I looked one up back in section 6), then could you note that it's already done that?
Otherwise, TBA500, etc.?

12.3: CoRIM MAp Registry.  AFAIK, CBOR has no boundary at 127 :-) So it's a "1+1" only thing.  Any advice for allocating <24?
Can we break into 1+2?  Ditto for other maps.

typo in 12.8:
   Future registrations for this registry are to be made based on {{RFC8126}}
   as follows:

I think that MAX-CBOR-INT is 18446744073709551615, that is, 2^64-1.
You have 2^64.  Do you want to limit to 2^63-1 to make signed-integer-only environments (which I think Javascript is), happier?  It's only a loss of 9 quintillion values.

   Optional parameters:  "profile" (CoRIM profile in string format.
      OIDs MUST use the dotted-decimal notation.)

huh.  Does this mean EDN?  What is "String format"

rim+cbor:
   File extension(s):  .corim
   Magic number(s):  D9 01 F5
Tag(501)?  Works for me.

rim+cose
   File extension(s):  .corim
   Magic number(s):  D2 84
This is just COSE Tag, right?
Not sure, especially since it's the same extension as rim+cbor.

You'd also get two Content-Format based:
 https://www.rfc-editor.org/rfc/rfc9277.html#name-cbor-tags-for-coap-content-





--


@steven-bellock to scan the comments and bucket it into new issues with logically similar comments from MCR.

>In section 9 is an example verifier algorithm, then I think no BCP14 keywords should be here, they should all be in the other sections.

@mcr this should be resolved via https://github.com/ietf-rats-wg/draft-ietf-rats-corim/pull/496.

> > If using other signing envelope formats, the CoRIM signing authority like... what?
> > I thought it was COSE_Sign1 only.
> 
> [@mcr](https://github.com/mcr) CoRIM supports both signed and unsigned variants.
> 
> ```
> corim = concise-rim-type-choice
> 
> concise-rim-type-choice /= tagged-unsigned-corim-map
> concise-rim-type-choice /= signed-corim
> ```

_If using other **signing** envelope formats_   what are they?
